@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Hepta Slab';
	src: url('/fonts/HeptaSlab-VariableFont_wght.ttf');
	font-display: swap;
}
